.approach {
    padding: 94px;


&__list {
    display: flex;
    margin: calc(-1 * var(--indent) / 2);
}
}
*/


.about-svg {
    display: flex;
    min-width: 270px;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-btn-cl);
    margin-bottom: 30px;
}




.approach-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.approach-p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-secondery);