.card-set {
    display: flex;
    margin: calc(-1 * var(--indent) / 2);


&__item {
    margin: calc(var(--indent) / 2);
    flex-basis: calc(100% - var(--indent) * var(--item) / var(--item));
}

&__portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}