.logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    color: var(--txt-logo);
}

.logo-header {
    margin-top: 24px;
    margin-right: 93px;
    margin-bottom: 25px;
}